doctype html
html
  head
    title= article.headline+' | Tension ' + article.category
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(href='/css/tension.css' rel='stylesheet' type='text/css')
    link(href='/css/mdi.css' rel='stylesheet' type='text/css')

    script(src='/js/jquery.js')
    script(src='/js/delete.js')
  body
    .navbar
      a.navbar-action(href='/home')
        span.mdi.mdi-arrow-left
    .article
      .article-header
        if user
          if user.id == article.author
            a.article-modal-open
              span.mdi.mdi-chevron-down
        img.article-featured-image(src='/uploads/'+article.featuredImage alt=article.headline)
        .ellipses-article-header
          p.article-heading= article.headline
          p.article-author #{author}
        br
      article.article-content !{content}
    if user
      if user.id == article.author
        .article-modal
          .article-modal-header
            .article-modal-header-text Article Settings
            a.article-modal-close(href='/home')
              span.mdi.mdi-window-close
          .article-modal-content(align='center')
            a.article-modal-link-holder(href='/articles/edit/'+article._id)
              .article-modal-link
                span.mdi.mdi-pencil
                p Edit Article
            a.article-modal-link-holder.delete-article(href='#' data-id=article._id)
              .article-modal-link
                span.mdi.mdi-delete
                p Delete Article