doctype html
html
  head
    if user
      if user.usertype=='Admin'
        title Edit Article | Tension
      title User not authorized
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet' type='text/css' href='/css/tension.css')
  body(align='center')
    if user
      if user.usertype=='Admin'
        .article-create-container
          .article-create-form-header Edit Article | 
            span.logo Tension
          br
          .article-form
            form.article-main-form(method='post' action='/articles/edit/'+article._id)
              input.article-create-form-input(name='headline' type='text' placeholder='Article Headline' value=article.headline required)
              hr
              input.article-create-form-input(name='featuredImage' type='text' placeholder='File name of featured image' value=article.featuredImage required)
              hr
              textarea.article-create-form-textarea.tinymce(name='content' type='text' placeholder='Your article\'s content' required)=article.content
              br
              textarea.article-create-form-textarea(name='excerpt' type='text' placeholder='Your article\'s excerpt' value=article.excerpt required)=article.excerpt
              button.article-create-form-button Update
        script(src='/js/jquery.js')
        script(src='/js/plugins/tinymce/tinymce.min.js')
        script(src='/js/plugins/tinymce/init-tinymce.js')