doctype html
html
  head
    title Home | Tension
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    link(rel='stylesheet' type='text/css' href='/css/tension.css')
    link(rel='stylesheet' type='text/css' href='/css/mdi.css')

    script(src='/js/jquery.js')
    script(src='/js/tabs.js')
  body
    nav.nav-header
      .logo Tension
      if user
        a.nav-header-action(href='/users/logout')
          span.mdi.mdi-logout
      if !user
        a.nav-header-action(href='/users/login')
          span.mdi.mdi-login
    .container
      .articles-container#politics
        br
        .article-container-header Politics
        br
        br
        br
        each article, i in articles
          if article.category =='Politics'
            .preview
              img.featured-image(src='/uploads/'+article.featuredImage alt=article.featuredImage)
              .ellipses
                a.article-title(href='/articles/'+article._id)= article.headline
                .article-excerpt
                  p= article.excerpt
                a.article-continue(href='/articles/'+article._id) Continue Reading
            .whitespace
      .articles-container#sports(style='display:none')
        each article, i in articles
          if article.category =='Sports'
            .preview
              img.featured-image(src='/uploads/'+article.featuredImage alt=article.featuredImage)
              .ellipses
                a.article-title(href='/articles/'+article._id)= article.headline
                .article-excerpt
                  p= article.excerpt
                a.article-continue(href='/articles/'+article._id) Continue Reading
            .whitespace
      .articles-container#technology(style='display:none')
        each article, i in articles
          if article.category =='Technology'
            .preview
              img.featured-image(src='/uploads/'+article.featuredImage alt=article.featuredImage)
              .ellipses
                a.article-title(href='/articles/'+article._id)= article.headline
                .article-excerpt
                  p= article.excerpt
                a.article-continue(href='/articles/'+article._id) Continue Reading
            .whitespace
      .articles-container#finance(style='display:none')
        each article, i in articles
          if article.category =='Finance'
            .preview
              img.featured-image(src='/uploads/'+article.featuredImage alt=article.featuredImage)
              .ellipses
                a.article-title(href='/articles/'+article._id)= article.headline
                .article-excerpt
                  p= article.excerpt
                a.article-continue(href='/articles/'+article._id) Continue Reading
            .whitespace
      .articles-container#entertainment(style='display:none')
        each article, i in articles
          if article.category =='Entertainment'
            .preview
              img.featured-image(src='/uploads/'+article.featuredImage alt=article.featuredImage)
              .ellipses
                a.article-title(href='/articles/'+article._id)= article.headline
                .article-excerpt
                  p= article.excerpt
                a.article-continue(href='/articles/'+article._id) Continue Reading
            .whitespace
      .articles-container#gaming(style='display:none')
        each article, i in articles
          if article.category =='Gaming'
            .preview
              img.featured-image(src='/uploads/'+article.featuredImage alt=article.featuredImage)
              .ellipses
                a.article-title(href='/articles/'+article._id)= article.headline
                .article-excerpt
                  p= article.excerpt
                a.article-continue(href='/articles/'+article._id) Continue Reading
            .whitespace
    .bottom-navbar(align='center')
      .navbar-icons(align='center')
        a.first(onclick="openTab('politics')")
          span.mdi.mdi-flag
        a.navbar-icon(onclick="openTab('sports')")
          span.mdi.mdi-soccer
        a.navbar-icon(onclick="openTab('technology')")
          span.mdi.mdi-console-line
        a.navbar-icon(onclick="openTab('finance')")
          span.mdi.mdi-bank
        a.navbar-icon(onclick="openTab('entertainment')")
          span.mdi.mdi-television-classic
        a.navbar-icon(onclick="openTab('gaming')")
          span.mdi.mdi-google-controller