doctype html
html
  head
    title Home | Tension
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    link(rel='stylesheet' type='text/css' href='/css/tension.css')
    link(rel='stylesheet' type='text/css' href='/css/mdi.css')
  body
    nav.nav-header
      .logo Tension
      if user
        a(href='/users/logout')
          span.mdi.mdi-logout
      if !user
        a(href='/users/login')
          span.mdi.mdi-login
    .container
      .articles-container#politics
        each article, i in articles
          if article.category =='Politics'
            .preview
              a.article-title(href='/articles/'+article._id)= article.headline
              .article-excerpt
                p= article.excerpt
              a.article-continue(href='/articles/'+article._id) Continue Reading
            .whitespace
      .articles-container#sports
        each article, i in articles
          if article.category =='Sports'
            .preview
              a.article-title(href='/articles/'+article._id)= article.headline
              .article-excerpt
                p= article.excerpt
              a.article-continue(href='/articles/'+article._id) Continue Reading
            .whitespace
      .articles-container#technology
        each article, i in articles
          if article.category =='Technology'
            .preview
              a.article-title(href='/articles/'+article._id)= article.headline
              .article-excerpt
                p= article.excerpt
              a.article-continue(href='/articles/'+article._id) Continue Reading
            .whitespace
      .articles-container#finance
        each article, i in articles
          if article.category =='Finance'
            .preview
              a.article-title(href='/articles/'+article._id)= article.headline
              .article-excerpt
                p= article.excerpt
              a.article-continue(href='/articles/'+article._id) Continue Reading
            .whitespace
      .articles-container#entertainment
        each article, i in articles
          if article.category =='Entertainment'
            .preview
              a.article-title(href='/articles/'+article._id)= article.headline
              .article-excerpt
                p= article.excerpt
              a.article-continue(href='/articles/'+article._id) Continue Reading
            .whitespace
      .articles-container#gaming
        each article, i in articles
          if article.category =='Gaming'
            .preview
              a.article-title(href='/articles/'+article._id)= article.headline
              .article-excerpt
                p= article.excerpt
              a.article-continue(href='/articles/'+article._id) Continue Reading
            .whitespace
    .bottom-navbar(align='center')
      .navbar-icons(align='center')
        a.first(href='#politics')
          span.mdi.mdi-flag
        a.navbar-icon(href='#sports')
          span.mdi.mdi-soccer
        a.navbar-icon(href='#technology')
          span.mdi.mdi-console-line
        a.navbar-icon(href='#finance')
          span.mdi.mdi-bank
        a.navbar-icon(href='#entertainment')
          span.mdi.mdi-television-classic
        a.navbar-icon(href='#gaming')
          span.mdi.mdi-google-controller